{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GrassRoots Homepage Hub</title>
    {% if debug %}
      <script type="module">
        import RefreshRuntime from "{{ vite_dev_server }}/@react-refresh";
        RefreshRuntime.injectIntoGlobalHook(window);
        window.$RefreshReg$ = () => {};
        window.$RefreshSig$ = () => (type) => type;
        window.__vite_plugin_react_preamble_installed__ = true;
      </script>
      <script type="module" src="{{ vite_dev_server }}/@vite/client"></script>
      <script type="module" src="{{ vite_dev_server }}/src/main.jsx"></script>
    {% else %}
      <link rel="stylesheet" href="{% static 'homepage_app/index.css' %}" />
      <script type="module" src="{% static 'homepage_app/main.js' %}"></script>
    {% endif %}
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
