# Virtual environment
venv

# Database
*.sqlite3

# User uploaded content
media/

# Python caches
__pycache__

# IDE config
.idea/
.vscode/

dj_test/

# Trivia site
.env
staticfiles/

# macOS metadata
.DS_Store

# Generated frontend build artifacts
static/homepage_app/index.css
static/homepage_app/main.js